body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #cad2c5;
}

.site-title {
    color: #52796f;
}

/* dog lover. adventure seeker. coffee enthusiast. */
.intro {
    color: #52796f
}

/* image id */
#my-image {
    box-shadow: 0 0 2px 1px black; 
}

.pepper-image {
    box-shadow: 0 0 2px 1px #52796f;
}

.olive-image {
    box-shadow: 0 0 2px 1px #52796f;
}

.hobbies li {
    list-style-type: square;
}

/* navigation bar */
nav ul {
    list-style: none;
    display: inline-flex;
    background-color: #84a98c71;
    color: #52796f;
    padding: 10px 120px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

/* navigation links */
.navbar a {
    float: center;
    padding: 5px;
    color: #52796f;
    text-decoration: none;
    font-size: 18px;
    width: 50%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

.aboutme {
    padding-top: 20;
    padding-bottom: 20;
    
}

.notes {
    padding-top: 20;
    padding-bottom: 20;
    
}

a:hover {
    color:white
}

blockquote {
    color: #52796f
}