body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #ccd5ae;
}

.site-title {
    color: #545E31;
}

#my-image {
    box-shadow: 0 0 2px 1px black; 
}

.hobbies li {
    list-style-type: square;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
}