* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #aad4cf;
    font-size: 10pt;
}

.wrapper {
    background-color: #d1ebe8;
    width: 800px;
    margin: 0 auto;
}

header {
    background: #d1ebe8 url("../images/lone-starfish-wide.jpg") no-repeat;
    background-size: contain;
    object-fit: cover;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 150px;
    font-size: 30pt;
    position: relative;
}

.nav {
    background-color: #d1ebe8;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    position: relative;
}

/* navigation links */
.nav li {
    display: inline-table;
    padding: 14px 80px 14px 100px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 50%);
    margin: auto;
    font-size: 18px;
    position: relative;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: #aad4cf;
}

.nav ul li {
    text-decoration: none;
}

/* home nav link */
.home {
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.li-story {
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.contact {
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    text-decoration: none;
    margin: auto;
}

/* starfish image */
img {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 210px;
    max-height: 210px;
}

h2 {
    padding-left: 2vh;
}

/* life of a starfish paragraph */
.story-demo {
    padding-left: 20px;
    padding-right: 20px;
}

/* contact to learn more form */
.contact-form {
    border-style: solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin: 1rem;
    font-size: 10pt;
}

.contact-form h3 {
    font-size: 10pt;
    font-weight: 100;
}

.name {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#fullname {
    object-position: 1vh;
    width: 46rem;
    height: auto;
    display: block;
}

.email {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#youremail {
    object-position: 1vh;
    width: 46rem;
    height: auto;
    display: block;
}

.message {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#yourmessage {
    object-position: 1vh;
    width: 46rem;
    height: auto;
    display: block;
}

.visit {
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.visit legend {
    padding-left: 0;
    padding-bottom: 1vh;
}

.button {
    padding-top: 1vh;
    font-size: 10pt;
    text-transform: uppercase;
    display: block;
}


footer {
    text-align: right;
    padding: 20px;
}

/* body header {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    background-image: url('../images/lone-starfish-wide.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 341px;
    max-width: 1024px;
    object-fit: contain;
    color: white;
}

header nav {
    text-transform: uppercase;
    text-align: center;
}

p #story {
    text-align: justify;
}

img {
    float: left;
    margin: 5px;
    max-width: 210px;
    max-height: 210px;

}

h1 {
    text-align: center;
}*/