* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #aad4cf;
    font-size: 10pt;
}

.wrapper {
    background-color: #d1ebe8;
    width: 50%;
    margin: 0 auto;
}

header {
    background: #d1ebe8 url("../images/lone-starfish-wide.jpg") no-repeat;
    background-size: contain;
    object-fit: cover;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 150px;
    font-size: 30pt;
    position: relative;
}

/* navigation links */
nav {
    background-color: #d1ebe8;
    /* list-style-type: none; */
    /* text-align: center; */
    /* text-decoration: none; */
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: #aad4cf;
}

nav ul {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0;
}

nav li {
    width: inherit;
    text-align: center;
}

nav ul li {
    text-decoration: none;
    text-align: center;
    display: inline;
    padding-top: 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 50%);
    font-size: 18px;
    width: inherit;
}

nav ul li:nth-child(2) {
    border-style: solid;
    border-top: none;
    border-bottom: none;

}

/* starfish image */
img {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 210px;
    max-height: 210px;
}

h2 {
    padding-left: 2vh;
}

/* life of a starfish paragraph */
.story-demo {
    padding-left: 20px;
    padding-right: 20px;
}

.facts ul {
    padding-left: 30px;
}

/* contact to learn more form */
.contact-form {
    border-style: solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin: 1rem;
    font-size: 10pt;
}

.contact-form h3 {
    font-size: 10pt;
    font-weight: 100;
}

.name {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#fullname {
    object-position: 1vh;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 1vh;
}

.email {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
}

#youremail {
    object-position: 1vh;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 1vh;
}

.message {
    padding-top: 1vh;
    padding-bottom: 0;
}

#yourmessage {
    object-position: 1vh;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 1vh;
}

.visit {
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.visit p {
    padding-left: 0;
    padding-bottom: 0;
}

button {
    padding: 1vh;
    font-size: 10pt;
    text-transform: uppercase;
    display: block;
    border-style: solid;
    color: black;
    background-color: #d1ebe8;
}

button:hover {
    color: #d1ebe8;
    background-color: black;
}

footer {
    text-align: right;
    padding: 20px;
}