* {
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    width: 100%;
}

/* header and navigation links - using nth child to target specific nav links */
.wrapper-1 {
    background-color: #C68D00;
    color: white;
}

nav ul li:nth-child(1) {
    padding-top: 50px;
    margin: 0;
}

nav ul li:nth-child(2) {
    background-color: black;
    padding: 0;
    margin: 0;
}

nav ul li:nth-child(3) {
    background-color: black;
    padding: 0;
    margin: 0;
}

nav ul li:nth-child(4) {
    background-color: black;
    padding: 0;
    margin: 0;
}

nav ul li:nth-child(5) {
    background-color: black;
    padding: 0;
    margin: 0;
}

nav ul li:nth-child(6) {
    background-color: black;
    padding: 0;
    margin: 0;
}

.wrapper-2 {
    position: relative;
    width: 100%;
    text-align: left;
    color: white;
}

.mainbanner {
    display: block;
    width: 100%;
    height: auto;
}

.welcome {
    position: absolute;
    top: auto;
    color: white;
    bottom: 50%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    font-size: 50px;
}

.paragraph-1 {
    position: absolute;
    top: auto;
    color: white;
    bottom: 25%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
}

.button-1 {
    position: absolute;
    bottom: 10%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
}

.wrapper-3 {
    background-color: rgb(238, 212, 173);
    display: flex;
}

.aboutusimage {
    width: 100%;
    height: auto;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    color: white;
}

h1 {
    background-color: #C68D00;
    margin: 0;
}